<div class="wrapper">
<nav class="sidebar">
    <ul class="list-unstyled menu-elements">
      <li class="active">
        <a class="scroll-link" href="#top-content"><i class="fas fa-home"></i> Home</a>
      </li>
      <li>
        <a class="scroll-link" href="#section-1"><i class="fas fa-cog"></i> What we do</a>
      </li>
      <li>
        <a class="scroll-link" href="#section-2"><i class="fas fa-user"></i> About us</a>
      </li>
      <li>
        <a class="scroll-link" href="#section-5"><i class="fas fa-pencil-alt"></i> Portfolio</a>
      </li>
      <li>
        <a class="scroll-link" href="#section-6"><i class="fas fa-envelope"></i> Contact us</a>
      </li>
      <li>
        <a href="#otherSections" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" role="button"
          aria-controls="otherSections">
          <i class="fas fa-sync"></i>Other sections
        </a>
        <ul class="collapse list-unstyled" id="otherSections">
          <li>
            <a class="scroll-link" href="#section-3">Our projects</a>
          </li>
          <li>
            <a class="scroll-link" href="#section-4">We think that...</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
</div>